<nb-layout center>
  <nb-layout-header>
    <nb-actions>
            <nb-action>DASHBOARD</nb-action>
    </nb-actions>
    <input id="typeahead-basic" type="text" class="form-control"/>
    <nb-actions>
      <nb-action icon="home-outline"></nb-action>
      <nb-action icon="search-outline"></nb-action>
      <nb-action icon="edit-outline"></nb-action>
    </nb-actions>
  </nb-layout-header>
<nb-sidebar >
  <router-outlet></router-outlet>
  <nb-menu-showcase></nb-menu-showcase>
</nb-sidebar>

  <nb-layout-column>
<router-outlet></router-outlet>
<nb-card-accents></nb-card-accents>
  </nb-layout-column>
</nb-layout>
