<nb-card accent="danger">
  <nb-card-header>Nebula</nb-card-header>
  <nb-card-body class="container">
    <div class="row">
      <div class="col-md-2">
        <img width="100%" src="https://devfolio.co/skill-naked.1c91ccd8.png" alt="">
      </div>
      <div class="col-md-10">
      <div class="row content-of-book">
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.</p><br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br><br>
          <button nbButton hero status="danger">Horror</button>
          <span style="padding-left: 5px;"> <button nbButton hero status="info">Romance</button></span>
          <span style="padding-left: 5px;"><button nbButton hero status="danger">Haunted</button></span>
        </div>
        <div class="col-md-6">
            <div class="row users">
              <div class="example-items-rows">
                <nb-icon icon="person-outline"></nb-icon>manan
                <nb-icon icon="person-outline"></nb-icon>rahul
            </div>
            </div>
            <div class="row">
                <span><nb-toggle status="primary">Active</nb-toggle></span>
                <span style="padding-left: 5px;"><button nbButton hero status="danger">Move To Beta</button></span>
                <span style="padding-left: 5px;"> <button nbButton hero status="success">Release</button></span>
            </div>
        </div>
      </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card accent="danger">
  <nb-card-header>Nebula</nb-card-header>
  <nb-card-body class="container">
    <div class="row">
      <div class="col-md-2">
        <img width="100%" src="https://devfolio.co/skill-naked.1c91ccd8.png" alt="">
      </div>
      <div class="col-md-10">
      <div class="row content-of-book">
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.</p><br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br><br>
          <button nbButton hero status="danger">Horror</button>
          <span style="padding-left: 5px;"> <button nbButton hero status="info">Romance</button></span>
          <span style="padding-left: 5px;"><button nbButton hero status="danger">Haunted</button></span>
        </div>
        <div class="col-md-6">
            <div class="row users">
              <div class="example-items-rows">
                <nb-icon icon="person-outline"></nb-icon>manan
                <nb-icon icon="person-outline"></nb-icon>rahul
            </div>
            </div>
            <div class="row">
                <span><nb-toggle status="primary">Active</nb-toggle></span>
                <span style="padding-left: 5px;"><button nbButton hero status="danger">Move To Beta</button></span>
                <span style="padding-left: 5px;"> <button nbButton hero status="success">Release</button></span>
            </div>
        </div>
      </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
<nb-card accent="danger">
  <nb-card-header>Nebula</nb-card-header>
  <nb-card-body class="container">
    <div class="row">
      <div class="col-md-2">
        <img width="100%" src="https://devfolio.co/skill-naked.1c91ccd8.png" alt="">
      </div>
      <div class="col-md-10">
      <div class="row content-of-book">
        <p>A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
        Originally, nebula was a name for any diffuse astronomical object,
        including galaxies beyond the Milky Way.</p><br>
      </div>
      <div class="row">
        <div class="col-md-6">
          <br><br>
          <button nbButton hero status="danger">Horror</button>
          <span style="padding-left: 5px;"> <button nbButton hero status="info">Romance</button></span>
          <span style="padding-left: 5px;"><button nbButton hero status="danger">Haunted</button></span>
        </div>
        <div class="col-md-6">
            <div class="row users">
              <div class="example-items-rows">
                <nb-icon icon="person-outline"></nb-icon>manan
                <nb-icon icon="person-outline"></nb-icon>rahul
            </div>
            </div>
            <div class="row">
                <span><nb-toggle status="primary">Active</nb-toggle></span>
                <span style="padding-left: 5px;"><button nbButton hero status="danger">Move To Beta</button></span>
                <span style="padding-left: 5px;"> <button nbButton hero status="success">Release</button></span>
            </div>
        </div>
      </div>
      </div>
    </div>
  </nb-card-body>
</nb-card>
